fastapi
uvicorn
joblib
numpy
scikit-learn
spacy>=3.8,<3.9
skillNer==1.0.3
pymupdf
ipython
en-core-web-lg @ https://github.com/explosion/spacy-models/releases/download/en_core_web_lg-3.8.0/en_core_web_lg-3.8.0-py3-none-any.whl
